apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
  namespace: rs1
data:
  mongod.conf: |
    security:
      authorization: enabled
      clusterAuthMode: x509
    net:
      tls:
        mode: requireTLS
        certificateKeyFile: /etc/ssl/mongodb.pem
        CAFile: /etc/ssl/root-ca.pem
        clusterFile: /etc/ssl/mongodb.pem
        allowConnectionsWithoutCertificates: true
